
[
	{rabbit, [{ssl_listeners, [5671]},
                  { ssl_options, [{ cacertfile, "/etc/rabbitmq/rmqtrustedCA.pem"},
                                  { certfile, "/etc/rabbitmq/certs/rmq.pem"},
	                          { keyfile, "/etc/rabbitmq/certs/rmq.key"},
	                          { verify, verify_peer},
	                          { fail_if_no_peer_cert, true} 
	                         ]
	           }
	          ]
	},
	{rabbitmq_mqtt, [{allow_anonymous, false},
	                 {vhost, "/"},
	                 {exchange, "amq.topic"},
	                 {subscription_ttl, 1800000},
	                 {prefecth, 10},
	                 {ssl_listeners, [8883]},
	                 {tcp_listeners, [1883]}
	                ] 
	}
	
].

